# -----------------------------------------
# Laravel
# -----------------------------------------
/vendor/
/node_modules/
.env
.env.*.local

# Caches Laravel
/storage/*.key
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*

# -----------------------------------------
# Tailwind / Build
# -----------------------------------------
# Ignore output CSS compiled by Tailwind
/public/css/output.css
/public/css/output.css.map

# -----------------------------------------
# Composer
# -----------------------------------------
composer.lock

# -----------------------------------------
# Node / npm / bun
# -----------------------------------------
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------------------------
# OS files
# -----------------------------------------
.DS_Store
Thumbs.db

# -----------------------------------------
# VS Code
# -----------------------------------------
.vscode/
